:markdown
  ### Requirements

  Chef experience (writing complex cookbooks from scratch, custom providers, custom resources, etc.)
  Production level Ruby/RoR
  Extensive Linux experience, comfortable between Debian and RHEL based systems
  Experience with Docker in production use cases
  Basic knowledge of packaging archives such as .deb and .rpm package archives
  An inclination towards communication, inclusion, and visibility
  Experience owning a project from concept to production, including proposal, discussion, and execution.
  English written and verbal communication skills
  Demonstrated ability to work closely with other parts of the organization
  Share our values, and work in accordance with those values
